python_dotenv>=1.1.1
bigdata-client>=2.18.0
bigdata-research-tools>=0.17.3
pandas>=2.3.1
numpy>=2.3.2
asyncio>=4.0.0
openai>=1.99.3
tqdm==4.67.1
pqdm==0.2.0
ipython==8.37.0
jinja2==3.1.6
IProgress==0.4
ipywidgets==8.1.7