python_dotenv>=1.1.1
bigdata-client>=2.18.0
bigdata-research-tools>=0.17.3
pandas>=2.3.1
asyncio>=4.0.0
openai>=1.99.3
tqdm==4.67.1
ipython==8.37.0
IProgress==0.4
ipywidgets==8.1.7
nest-asyncio>=1.6.0
plotly>=5.0.0
jupyter>=1.0.0
